services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
      target: production
    container_name: tr_backend
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: "production"
      HOSTNAME: "0.0.0.0"
      PORT: 4241
      DATABASE_URL: "file:/app/data/prod.db"
      TZ: "Europe/Helsinki"
      FRONTEND_HOST: frontend
      FRONTEND_PORT: 443
      PUBLIC_DOMAIN: localhost:8443
      # <yourcomputer>.<domain>.fi:8443
    volumes:
      - db-data:/app/data
      - upload-data:/app/data/upload
    networks:
      - transcendence_net
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      target: production
      args:
        VITE_API_URL: /api
        VITE_WS_URL: wss://localhost:8443/ws
        # wss://<yourcomputer>.<domain>.fi:8443/ws
    container_name: tr_frontend
    secrets:
      - ssl-cert
      - ssl-key
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - backend
    environment:
      NODE_ENV: "production"
      DOMAIN_NAME: localhost
      NGINX_PORT: 8443
    volumes:
      - upload-data:/app/data/upload:ro
    networks:
      - transcendence_net
    restart: unless-stopped

secrets:
  ssl-cert:
    file: ./secrets/ssl-cert
  ssl-key:
    file: ./secrets/ssl-key

volumes:
  db-data:
    driver: local
  upload-data:
    driver: local

networks:
  transcendence_net:
    driver: bridge
