@import "tailwindcss";

@theme
{
	--color-transcendence-red: #E43636;
	--color-transcendence-black: #000000;
	--color-transcendence-beige: #E2DDB4;
	--color-transcendence-white: #ffffff;

	--font-transcendence-one: "Anton", sans-serif;
	--font-transcendence-two: "Inclusive Sans", sans-serif;
	--font-transcendence-three: "Bebas Neue", sans-serif;
}