@import "tailwindcss";

@theme
{
	--color-transcendence-red: #E43636;
	--color-transcendence-black: #000000;
	--color-transcendence-beige: #E2DDB4;
	--color-transcendence-white: #ffffff;

	--font-transcendence-one: "Anton", sans-serif;
	--font-transcendence-two: "Inclusive Sans", sans-serif;
	--font-transcendence-three: "Bebas Neue", sans-serif;
}

/* ping pong ball animation
@keyframes pingpong {
  0% {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(-40%) scale(1.1);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  75% {
    transform: translateY(-20%) scale(0.95);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
*/