@import "tailwindcss";

@theme
{
	--color-transcendence-red: #E43636;
	--color-transcendence-black: #000000;
	--color-transcendence-beige: #E2DDB4;
	--color-transcendence-white: #ffffff;

	--font-transcendence-one: "Anton", sans-serif;
	--font-transcendence-two: "Inclusive Sans", sans-serif;
	--font-transcendence-three: "Bebas Neue", sans-serif;
}


@keyframes pingpongAnimation {
  0% {
    transform: translateY(0) scale(1);
  }
  20% {
    transform: translateY(-110%) scale(1.2);
  }
  40% {
    transform: translateY(0) scale(0.85);
  }
  60% {
    transform: translateY(-75%) scale(1.1);
  }
  80% {
    transform: translateY(0) scale(0.9);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
